<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Octacore</title>
    <link rel="stylesheet" href="/CSS/header.css">
</head>
<body>

    <!-- Importando o header  -->
    <%- include('partials/header') %>


    

    <!-- Importando o script no final para garantir que o DOM já foi carregado -->
    <script src="/js/menu.js"></script>

</body>
</html>
