<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja</title>
    <link rel="stylesheet" href="/CSS/loja.css">
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="/CSS/footer.css">
    <link rel="stylesheet" href="/CSS/whatsapp.css">
    <link rel="stylesheet" href="/CSS/titulo.css">
    <link rel="stylesheet" href="/CSS/default.css">
</head>
<body>
<!-- Importando o header -->
<%- include('partials/header') %>

<h1>LOJA</h1>

<div class="container">

    <% if (typeof produtos !== 'undefined' && produtos.length > 0) { %>
        <% produtos.forEach(function(produto) { %>
            <%- include('partials/card-loja', { imagem: produto.imagem, nome: produto.nome, precoAntigo: produto.precoAntigo, precoNovo: produto.precoNovo }) %>
        <% }); %>
    <% } %>

</div>

<%- include('partials/footer') %>
<%- include('partials/botao-whatsapp') %>
</body>
</html>