<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja</title>
    <link rel="stylesheet" href="/CSS/loja.css">
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="/CSS/footer.css">
    <link rel="stylesheet" href="/CSS/whatsapp.css">
    <link rel="stylesheet" href="/CSS/titulo.css">
    <link rel="stylesheet" href="/CSS/default.css">
    <!-- Bootstrap CSS -->
</head>
<body>
    <div>
        <!-- Importando o header  -->
        <%- include('partials/header') %>
    </div>

    <h1>LOJA</h1>
    <div class="container">
        <div class="card-loja">
            <div class="image-placeholder">
                <img src="https://acdn-us.mitiendanube.com/stores/002/005/228/products/cienciadacomputacao-cam1-189fa12ede4736afe616466297289883-640-0.png" alt="Produto">
            </div>
            <h2>Produto Nome</h2>
            <p class="price"><span class="old-price">DE: R$ 99,90</span></p>
            <p class="price"><span class="new-price">POR: R$ 89,90</span></p>
            <a href="https://wa.me/5594992760247?text=Olá, gostaria de comprar o Produto Nome" class="btn">Comprar</a>
        </div>
        
        <!-- Repetir os cards para preencher a loja -->
        <div class="card-loja">
            <div class="image-placeholder">
                <img src="https://acdn-us.mitiendanube.com/stores/002/005/228/products/cienciadacomputacao-cam1-189fa12ede4736afe616466297289883-640-0.png" alt="Produto">
            </div>
            <h2>Produto Nome</h2>
            <p class="price"><span class="old-price">DE: R$ 99,90</span></p>
            <p class="price"><span class="new-price">POR: R$ 89,90</span></p>
            <a href="https://wa.me/5594992760247?text=Olá, gostaria de comprar o Produto Nome" class="btn">Comprar</a>
        </div>

        <div class="card-loja">
            <div class="image-placeholder">
                <img src="https://acdn-us.mitiendanube.com/stores/002/005/228/products/cienciadacomputacao-cam1-189fa12ede4736afe616466297289883-640-0.png" alt="Produto">
            </div>
            <h2>Produto Nome</h2>
            <p class="price"><span class="old-price">DE: R$ 99,90</span></p>
            <p class="price"><span class="new-price">POR: R$ 89,90</span></p>
            <a href="https://wa.me/5594992760247?text=Olá, gostaria de comprar o Produto Nome" class="btn">Comprar</a>
        </div>
        
        <!-- Adicione mais cards conforme necessário -->
        <div class="card-loja">
            <div class="image-placeholder">
                <img src="https://acdn-us.mitiendanube.com/stores/002/005/228/products/cienciadacomputacao-cam1-189fa12ede4736afe616466297289883-640-0.png" alt="Produto">
            </div>
            <h2>Produto Nome</h2>
            <p class="price"><span class="old-price">DE: R$ 99,90</span></p>
            <p class="price"><span class="new-price">POR: R$ 89,90</span></p>
            <a href="https://wa.me/5594992760247?text=Olá, gostaria de comprar o Produto Nome" class="btn">Comprar</a>
        </div>

        <div class="card-loja">
            <div class="image-placeholder">
                <img src="https://acdn-us.mitiendanube.com/stores/002/005/228/products/cienciadacomputacao-cam1-189fa12ede4736afe616466297289883-640-0.png" alt="Produto">
            </div>
            <h2>Produto Nome</h2>
            <p class="price"><span class="old-price">DE: R$ 99,90</span></p>
            <p class="price"><span class="new-price">POR: R$ 89,90</span></p>
            <a href="https://wa.me/5594992760247?text=Olá, gostaria de comprar o Produto Nome" class="btn">Comprar</a>
        </div>

        <div class="card-loja">
            <div class="image-placeholder">
                <img src="https://acdn-us.mitiendanube.com/stores/002/005/228/products/cienciadacomputacao-cam1-189fa12ede4736afe616466297289883-640-0.png" alt="Produto">
            </div>
            <h2>Produto Nome</h2>
            <p class="price"><span class="old-price">DE: R$ 99,90</span></p>
            <p class="price"><span class="new-price">POR: R$ 89,90</span></p>
            <a href="https://wa.me/5594992760247?text=Olá, gostaria de comprar o Produto Nome" class="btn">Comprar</a>
        </div>

        <div class="card-loja">
            <div class="image-placeholder">
                <img src="https://acdn-us.mitiendanube.com/stores/002/005/228/products/cienciadacomputacao-cam1-189fa12ede4736afe616466297289883-640-0.png" alt="Produto">
            </div>
            <h2>Produto Nome</h2>
            <p class="price"><span class="old-price">DE: R$ 99,90</span></p>
            <p class="price"><span class="new-price">POR: R$ 89,90</span></p>
            <a href="https://wa.me/5594992760247?text=Olá, gostaria de comprar o Produto Nome" class="btn">Comprar</a>
        </div>

        <div class="card-loja">
            <div class="image-placeholder">
                <img src="https://acdn-us.mitiendanube.com/stores/002/005/228/products/cienciadacomputacao-cam1-189fa12ede4736afe616466297289883-640-0.png" alt="Produto">
            </div>
            <h2>Produto Nome</h2>
            <p class="price"><span class="old-price">DE: R$ 99,90</span></p>
            <p class="price"><span class="new-price">POR: R$ 89,90</span></p>
            <a href="https://wa.me/5594992760247?text=Olá, gostaria de comprar o Produto Nome" class="btn">Comprar</a>
        </div>

        <div class="card-loja">
            <div class="image-placeholder">
                <img src="https://acdn-us.mitiendanube.com/stores/002/005/228/products/cienciadacomputacao-cam1-189fa12ede4736afe616466297289883-640-0.png" alt="Produto">
            </div>
            <h2>Produto Nome</h2>
            <p class="price"><span class="old-price">DE: R$ 99,90</span></p>
            <p class="price"><span class="new-price">POR: R$ 89,90</span></p>
            <a href="https://wa.me/5594992760247?text=Olá, gostaria de comprar o Produto Nome" class="btn">Comprar</a>
        </div>

        <div class="card-loja">
            <div class="image-placeholder">
                <img src="https://acdn-us.mitiendanube.com/stores/002/005/228/products/cienciadacomputacao-cam1-189fa12ede4736afe616466297289883-640-0.png" alt="Produto">
            </div>
            <h2>Produto Nome</h2>
            <p class="price"><span class="old-price">DE: R$ 99,90</span></p>
            <p class="price"><span class="new-price">POR: R$ 89,90</span></p>
            <a href="https://wa.me/5594992760247?text=Olá, gostaria de comprar o Produto Nome" class="btn">Comprar</a>
        </div>

        <div class="card-loja">
            <div class="image-placeholder">
                <img src="https://acdn-us.mitiendanube.com/stores/002/005/228/products/cienciadacomputacao-cam1-189fa12ede4736afe616466297289883-640-0.png" alt="Produto">
            </div>
            <h2>Produto Nome</h2>
            <p class="price"><span class="old-price">DE: R$ 99,90</span></p>
            <p class="price"><span class="new-price">POR: R$ 89,90</span></p>
            <a href="https://wa.me/5594992760247?text=Olá, gostaria de comprar o Produto Nome" class="btn">Comprar</a>
        </div>

        <div class="card-loja">
            <div class="image-placeholder">
                <img src="https://acdn-us.mitiendanube.com/stores/002/005/228/products/cienciadacomputacao-cam1-189fa12ede4736afe616466297289883-640-0.png" alt="Produto">
            </div>
            <h2>Produto Nome</h2>
            <p class="price"><span class="old-price">DE: R$ 99,90</span></p>
            <p class="price"><span class="new-price">POR: R$ 89,90</span></p>
            <a href="https://wa.me/5594992760247?text=Olá, gostaria de comprar o Produto Nome" class="btn">Comprar</a>
        </div>

        
    </div>
    <%- include('partials/footer') %>

    <%- include('partials/botao-whatsapp') %>
    
</body>
</html>