<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modalidades</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/CSS/default.css">
    <link rel="stylesheet" href="/CSS/modalidades.css">
    <link rel="stylesheet" href="/CSS/whatsapp.css">
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="/CSS/footer.css">
    <link rel="stylesheet" href="/CSS/titulo.css">
</head>
<body>

<!-- Importando o header -->
<%- include('partials/header') %>

<h1>Modalidades</h1>

<!-- Container para centralizar os cards -->

<div class="modalidades-container">
    <% if (typeof modalidades !== 'undefined' && modalidades.length > 0) { %>
        <% modalidades.forEach(function(modalidade) { %>
            <%- include('partials/card-modalidade', modalidade) %>
        <% }); %>
    <% } %>
</div>

<%- include('partials/footer') %>

<%- include('partials/botao-whatsapp') %>

</body>
</html>