<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sala de Troféus</title>
    <link rel="stylesheet" href="/CSS/default.css">
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="/CSS/footer.css">
    <link rel="stylesheet" href="/CSS/titulo.css">
    <link rel="stylesheet" href="/CSS/salao.css">
    <link rel="stylesheet" href="/CSS/whatsapp.css">
</head>
<body>
<!-- Importando o header -->
<%- include('partials/header') %>

<h1>Sala de Troféus</h1>

<section class="trofeus-container">
    <% if (typeof trofeus !== 'undefined' && trofeus.length > 0) { %>
        <% trofeus.forEach(function(trofeu) { %>
            <%- include('partials/trofeu', { imagem: trofeu.imagem, titulo: trofeu.title }) %>
        <% }); %>
    <% } %>
</section>

<%- include('partials/footer') %>

<%- include('partials/botao-whatsapp') %>
</body>
</html>
