/* Título */
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    position: relative;
}

h1::after {
    content: '';
    width: 70px;
    height: 5px;
    background-color: #17cc17;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}