<h2 class="titulo-beneficios">BENEFÍCIOS</h2>
<div class="beneficios-container">
    <div class="beneficio-card">
        <img src="/img/Vector (8).png" alt="Ícone Diretores" class="icon-beneficio">
        <h3>Para diretores</h3>
        <p>Faça parte das decisões da atlética, desenvolva liderança e tenha acesso exclusivo a eventos e
            produtos da atletica.</p>
        <a href="#" class="beneficio-link">Oferta para este grupo &gt;&gt;</a>
    </div>

    <div class="beneficio-card">
        <img src="/img/Group (1).png" alt="Ícone Atletas" class="icon-beneficio">
        <h3>Para atletas</h3>
        <p>Treinamentos, competições, uniforme oficial e suporte para representar a atlética.</p>
        <a href="#" class="beneficio-link">Oferta para este grupo &gt;&gt;</a>
    </div>

    <div class="beneficio-card">
        <img src="/img/Vector (9).png" alt="Ícone Associados" class="icon-beneficio">
        <h3>Para associados</h3>
        <p>Descontos em festas, eventos e produtos oficiais.</p>
        <a href="#" class="beneficio-link">Oferta para este grupo &gt;&gt;</a>
    </div>
</div>