<!-- Botão flutuante do WhatsApp -->
<a href="https://wa.me/5594992760247" target="_blank" class="whatsapp-float">
    <img src="https://cdn-icons-png.flaticon.com/512/220/220236.png" alt="WhatsApp" width="50" height="50">
</a>