<div class="card-modalidades">
    <img src="<%= icon %>" alt="Ícone <%= title %>" class="icon">
    <div class="info">
        <h3><%= title %></h3>
        <p><%= description %></p>
        <div class="buttons">
            <button class="btn-participar">Quero participar!</button>
            <button class="btn-saiba">Saiba mais</button>
        </div>
    </div>
</div>
