<h2 class="titulo-diretoria">DIRETORIA</h2>
<div class="diretoria-container">
    <div class="diretor-card">
        <img src="/img/logoatlticamaior-2.png" alt="Bruno Pessoa">
        <h3>Bruno Pessoa</h3>
        <p>Presidente</p>
    </div>
    <div class="diretor-card">
        <img src="/img/logoatlticamaior-2.png" alt="Antonio">
        <h3>Antonio</h3>
        <p>Vice-Presidente</p>
    </div>
    <div class="diretor-card">
        <img src="/img/logoatlticamaior-2.png" alt="Lais Rocha">
        <h3>Lais Rocha</h3>
        <p>Financeiro</p>
    </div>
    <div class="diretor-card">
        <img src="/img/logoatlticamaior-2.png" alt="Tony Ribeiro">
        <h3>Tony Ribeiro</h3>
        <p>Esporte</p>
    </div>
    <div class="diretor-card">
        <img src="/img/logoatlticamaior-2.png" alt="Julio">
        <h3>Julio</h3>
        <p>Esporte</p>
    </div>
    <div class="diretor-card">
        <img src="/img/logoatlticamaior-2.png" alt="Guilherme Lima">
        <h3>Guilherme Lima</h3>
        <p>Marketing</p>
    </div>
    <div class="diretor-card">
        <img src="/img/logoatlticamaior-2.png" alt="Anne Saraiva">
        <h3>Anne Saraiva</h3>
        <p>Eventos</p>
    </div>
    <div class="diretor-card">
        <img src="/img/logoatlticamaior-2.png" alt="Lucas Braga">
        <h3>Lucas Braga</h3>
        <p>Eventos</p>
    </div>
    <div class="diretor-card">
        <img src="/img/logoatlticamaior-2.png" alt="Luiz Vasconcelos">
        <h3>Luiz Vasconcelos</h3>
        <p>Produtos</p>
    </div>
    <div class="diretor-card">
        <img src="/img/logoatlticamaior-2.png" alt="Gustavo Cometti">
        <h3>Gustavo Cometti</h3>
        <p>E-Sports</p>
    </div>
</div>