<div class="marquee-container">
    <div class="marquee-content">
        <span>ASSOCIADOS TÊM VANTAGENS EXCLUSIVAS! 🚀 DESCONTO ESPECIAL EM TODOS OS PRODUTOS, PROMOÇÕES ANTECIPADAS E CONDIÇÕES IMPERDÍVEIS!</span>
        <span>PARCELAMENTO EM ATÉ 6X SEM JUROS</span>
        <span>GANHE PONTOS EM TODAS AS COMPRAS! 💰</span>
    </div>
</div>