<footer>
    <div class="footer-container">
        <div class="footer-column">
            <h3>A. A. E. C. Octacore</h3>
            <p>
                Se você é estudante e está procurando uma forma de se envolver, se divertir e fazer parte de uma comunidade unida, você está no lugar certo!
            </p>
            <p>
                A nossa Atlética é o coração pulsante dos estudantes da área, proporcionando uma experiência única durante toda a jornada acadêmica.
            </p>
        </div>

        <div class="footer-column">
            <h3>Entre em contato</h3>
            <p>
                Quer fazer uma parceria, realizar um evento ou entrar em contato para tratar de outros assuntos?
            </p>
            <p>
                Mande um e-mail pra gente!<br>
                <strong>contato@octacore.com</strong>
            </p>
        </div>

        <div class="footer-column">
            <h3>Marabá, Pará</h3>
            <p>
                Folha 17, Quadra 04, Lote Especial, s/n.º<br>
                Nova Marabá, PA, 68505-080<br>
                Unifesspa, Campus de Marabá, Unidade II
            </p>
        </div>
    </div>

    <div class="footer-bottom">
        <p>© 2025 A. A. A. E. C. Octacore</p>

        <div class="work-icons">
            <p>made by</p>
            <a href="https://miseraveis.shop/"><img src="/img/icon/miseraveis-logo.png" alt="Logo Miseraveis"></a>
        </div>
        <div class="social-icons">
            <a href="#"><img src="/img/Vector (6).png" alt="YouTube"></a>
            <a href="#"><img src="/img/Vector (7).png" alt="Twitch"></a>
            <a href="#"><img src="/img/Vector (5).png" alt="Instagram"></a>
        </div>
    </div>
</footer>
