<h2>QUEM SOMOS</h2>
<div class="quem-somos-container">
    <img src="/img/logoatlticamaior-2.png" alt="Logo Octacore" class="quem-somos-logo">
    <div class="quem-somos-texto">
        <p>
            Octacore é a atlética do curso de Engenharia da Computação da FEC (Faculdade de Engenharia da Computação).
        </p>
        <p>
            Fundada em 6 de Setembro de 2022 com a intenção de fortalecer o esporte e lazer no âmbito acadêmico,
            a atlética Octacore abraça os discentes de Engenharia da Computação e enriquece o corpo universitário.
        </p>
    </div>
</div>